* { font-family: Proxima Nova; }
#heading{ text-align: center; margin-top: 35px; margin-bottom: 10px; font-size: 1.75em;}
	.title-text{ position: relative; top: -1px; right: -1px; float: right; border: 1px solid; width: 30%; height: 10%; text-align: center; font-weight: bold; padding: 5px; font-size: 1.25em;}
	#first{ background-color: #CC9B9A; }
	#second{ background-color: #B34E48; color: white; border-color: black;}
	#third{ background-color: #E2D29F; }
	.container{ padding: 20px;}
	body{ font-size: 13px; }
	
	@media (min-width: 992px)
	{.boxes{ position: relative; background-color: #999999; border: 1px solid; float: left; height: 180px; width: 31%; box-sizing: border-box;}
	.content{clear: both; padding: 10px; box-sizing: border-box;}
	.scroll{ overflow: auto; clear: right; height: 140px;}
	#b2{ margin-left: 3.5%; margin-right: 3.5%;} #b3{ float: right; }}

	@media (min-width: 768px) and (max-width: 991px)
	{.boxes{ position: relative; background-color: #999999; border: 1px solid; float: left; margin left: auto; margin-right: auto; height: 180px; width: 49%; box-sizing: border-box;}
	.content{clear: both; padding: 10px; box-sizing: border-box;} #b2{ float: right; }
	.scroll{ overflow: auto; clear: right; height: 140px;}
	#b3{ width: 100%; height: 190px; margin-top: 18px;} #c3{ padding: 20px; }}

	@media (max-width: 767px)
	{.boxes{ position: relative; background-color: #999999; border: 1px solid; float: left; height: 180px; width: 100%; box-sizing: border-box; margin-bottom: 18px;}
	.content{clear: both; padding: 10px; box-sizing: border-box;}
	.scroll{ overflow: auto; clear: right; height: 140px;}}